@font-face {
    font-family: "Inter";
    src: url(/fonts/Inter/);
}

@font-face {
    font-family: "Montserrat";
    src: url(/fonts/Montserrat/);
}

* {
    padding: 0;
    margin: 0;
    border: 0;
}

  *,
  *::before,
  *::after {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

/*Убираем линии обводки некоторых браузеров*/
:focus,
:active {
    outline: none;
}

a:focus,
a:active {
    outline: none;
}

/*задаем блочными теги Html5*/
nav,
footer,
header,
aside {
    display: block;
}

html,
body {
    /* font-family: "Lato", sans-serif; */
    height: 100%;
    width: 100%;
    /* line-height: 30px;
    font-size: 20px; */
    /* color: #1e1744; */
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

/*задаем наследование шрифтов*/
input,
button,
textarea {
    font-family: inherit;
}

input::-ms-clear {
    display: none;
}

button {
    cursor: pointer;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

a,
a:visited {
    text-decoration: none;
    /* color: #292929; */
}

a:hover {
    text-decoration: none;
    color: #e35151;
}

p4:hover,
p2:hover {
    text-decoration: none;
    color: #424F7B;
}

ul li {
    list-style: none;
}

img {
    vertical-align: top;
}

h1 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 39px;
    color: #192252;
    padding: 0px 3px;
    border-radius: 15px;
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: h1 5s ease infinite;
}
h1:hover {
	animation: none;
    cursor: pointer;
}
 
@keyframes h1 {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

h2 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 46px;
    line-height: 150%;
    letter-spacing: -0.01em;
    color: #192252;
    padding-bottom: 24px;
}

h3 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 150%;
    letter-spacing: -0.01em;
    color: #192252;
    padding-bottom: 24px;
}

h4 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 150%;
    color: #000000;
    padding-top: 32px;
    padding-bottom: 16px;
}

h5 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 150%;
    color: #192252;
}

.h1-1 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 39px;
    color: #FFFFFF;
    width: 80%;
}

p {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 150%;
    color: #848FAC;
    padding-bottom: 32px;
}

p2 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    color: #848FAC;
    cursor: pointer;
}

p3 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    color: #424F7B;
}

p4 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #0E1734;
    margin-left: 24px;
}

p5 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 150%;
    color: #848FAC;
}

.p1-3 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: #D9DBDE;
}

.p1-2 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
    padding-bottom: 32px;
}

.p1-1 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #D9DBDE;
    cursor: pointer;
}

.container {
    margin: 0 auto;
    max-width: 1024px;
}

.flex-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 106px;
}

.header {
    padding: 26px;
}

nav a {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #192252;
    margin-right: 32px;
}

nav a:last-child {
    margin-right: 10px;
}

button {
    background: #0E1734;
    border-radius: 4px;
    padding: 14px 16px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.72px;
    color: #FFFFFF;
}

button:hover {
    box-shadow:
      1px 1px #53b8ea,
      2px 2px #53b8ea,
      3px 3px #53b8ea,
      4px 4px #53b8ea,
      5px 5px #53b8ea,
      6px 6px #53b8ea,
      7px 7px #53b8ea;
    transform: translateX(-7px);
  }

.flex-card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 80px 0px 160px 0px;
}

.item {
    width: 50%;
    margin: 0 auto;
}

.dom1, .dom2, .dom3 {
    width: 28%;
}

.dom1 {
    margin-left: 32px;
}

.dom2 {
    margin: 66px 16px 0px 16px;
}

.derevo {
    margin-right: 126px;
}

.flex-card2 {
    justify-content: space-between;
    align-items: center;
    margin: 80px 0px 160px 0px;
}

.card {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sec-4 {
    text-align: center;
}

.fotochki {
    display: flex;
    text-align: left;
}

.fotochki:last-child {
    margin-right: 0px;
}

.foto2 {
    margin: 0px 10px;
}

.comnata {
    width: 100%;
}

.strelka {
    padding-top: 8px;
}



.item3 {
    width: 50%;
}

.knopkado {
    width: 40px;
    height: 40px;
    background: #FFECE2;
    border-radius: 50%;
    transition: 0.5s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 410px;
    margin-top: -35px;
}

.info:hover, .info:focus, .info:active{
    border-radius: 4px;
    background: #FFFFFF;
}

.info {
    filter: drop-shadow(0px 4px 30px rgba(0, 0, 0, 0.07));
    position: relative;
    background: #FFFFFF;
    box-sizing: border-box;
    border-radius: 4px;
    margin-bottom: 24px;
    padding: 32px 32px 32px 32px;
}

.info__switch {
    display: none;
}

.info__body {
    max-height: 0;
    overflow: hidden;
    position: relative;
    transition: 0.4s;
}

.info__switch:checked~.info__body {
    max-height: 100px;
}

.info__switch:checked~.knopkado {
    transform: rotate(180deg);
}

.info__switch:checked~.info__headline::before {
    transform: rotate(180deg) translateY(6px);
}

.info__headline {
    position: relative;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 150%;
    color: #424F7B;
}

.info__headline:hover {
    text-decoration: underline;
}

.info__switch:hover .knopkado{
    transform: rotate(180deg) 
}



.info2:hover, .info2:focus, .info2:active{
    border-radius: 4px;
    background: #FFFFFF;
}

.info2 {
    filter: drop-shadow(0px 4px 30px rgba(0, 0, 0, 0.07));
    position: relative;
    background: #FFFFFF;
    box-sizing: border-box;
    border-radius: 4px;
    margin-bottom: 24px;
    padding: 32px 32px 32px 32px;
}

.info2__switch {
    display: none;
}

.info2__body {
    max-height: 0;
    overflow: hidden;
    position: relative;
    transition: 0.4s;
}

.info2__switch:checked~.info2__body {
    max-height: 100px;
}

.info2__switch:checked~.knopkado {
    transform: rotate(180deg);
}

.info2__switch:checked~.info2__headline::before {
    transform: rotate(180deg) translateY(6px);
}

.info2__headline {
    position: relative;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 150%;
    color: #424F7B;
}

.info2__headline:hover {
    text-decoration: underline;
}

.info2__switch:hover .knopkado{
    transform: rotate(180deg) 
}




.info3:hover, .info3:focus, .info3:active{
    border-radius: 4px;
    background: #FFFFFF;
}

.info3 {
    filter: drop-shadow(0px 4px 30px rgba(0, 0, 0, 0.07));
    position: relative;
    background: #FFFFFF;
    box-sizing: border-box;
    border-radius: 4px;
    margin-bottom: 24px;
    padding: 32px 32px 32px 32px;
}

.info3__switch {
    display: none;
}

.info3__body {
    max-height: 0;
    overflow: hidden;
    position: relative;
    transition: 0.4s;
}

.info3__switch:checked~.info3__body {
    max-height: 100px;
}

.info3__switch:checked~.knopkado {
    transform: rotate(180deg);
}

.info3__switch:checked~.info3__headline::before {
    transform: rotate(180deg) translateY(6px);
}

.info3__headline {
    position: relative;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 150%;
    color: #424F7B;
}

.info3__headline:hover {
    text-decoration: underline;
}

.info3__switch:hover .knopkado{
    transform: rotate(180deg) 
}

.sec-6 {
    align-items: center;
    text-align: center;
}

.ava {
    margin: 62px 0px 44px 0px;
}

.tochki {
    margin-top: 24px;
    cursor: pointer;
}

.sec-7 {
    background-color: #0B265A;
}

.link {
    cursor: pointer;
}

.flex-card3 {
    display: flex;
    justify-content: space-between;
    margin-top: 130px;
}

.logotip {
    margin-top: 120px;
    margin-right: 80px;
    margin-bottom: 133px;
}

.item5 {
    margin-right: 75px;
    margin-top: 120px;
}




@media (max-width: 1024px) {
    h2 {
        font-size: 30px;
    }

    h3 {
        font-size: 24px;
    }

    h4 {
        font-size: 18px;
    }

    h5 {
        font-size: 15px;
    }

    .h1-1 {
        font-size: 26px;
    }

    p {
        font-size: 11px;
    }

    p2 {
        font-size: 12px;
    }

    p3 {
        font-size: 11px;
    }

    p4 {
        font-size: 11px;
    }

    p5 {
        font-size: 12px;
    }

    .p1-1, .p1-2, .p1-3 {
        font-size: 12px;
    }

    button {
        padding: 10px 12px;
        font-size: 12px;
    }

    .container {
        max-width: 768px;
    }

    .flex-card {
        margin: 40px 0px 80px 0px;
    }

    .dom2 {
        margin: 55px 10px 0px 10px;
        width: 30%;
    }

    .dom1 {
        margin-left: 0px;
        width: 30%;
    }

    .dom3 {
        width: 30%;
    }

    .derevo {
        width: 280px;
        margin-right: 84px;
    }

    .flex-card2 {
        margin: 80px 0px 120px 0px;
    }
    
    .eda1, .eda2 {
        width: 280px;
    }

    .foto {
        margin-right: 10px;
    }

    .comnata {
        width: 100%;
    }

    .knopkado {
        width: 35px;
        height: 35px;
        margin-left: 300px;
        margin-top: -30px;
    }

    .info {
        margin-bottom: 18px;
        padding: 24px 24px 24px 24px;
    }

    .info__headline {
        font-size: 16px;
    }

    .info2 {
        margin-bottom: 18px;
        padding: 24px 24px 24px 24px;
    }

    .info2__headline {
        font-size: 16px;
    }

    .info3 {
        margin-bottom: 18px;
        padding: 24px 24px 24px 24px;
    }

    .info3__headline {
        font-size: 16px;
    }

    .ava {
        width: 13%;
    }

    .tochki {
        width: 8%;
    }

    .link {
        width: 80%;
    }

    .flex-card3 {
        margin-top: 80px;
    }

    .logotip {
        margin-top: 75px;
        margin-right: 55px;
        margin-bottom: 82px;
    }
    
    .item5 {
        margin-right: 50px;
        margin-top: 75px;
    }
}



@media (max-width: 768px) {
    nav a {
        font-size: 15px;
    }

    h1 {
        font-size: 30px;
    }
    
    h2 {
        font-size: 26px;
        padding-bottom: 12px;
    }

    h3 {
        font-size: 18px;
        padding-bottom: 12px;
    }

    h4 {
        font-size: 16px;
    }

    h5 {
        font-size: 12px;
    }

    .h1-1 {
        font-size: 25px;
        width: 75%;
    }

    p {
        font-size: 9px;
        padding-bottom: 20px;
    }

    p2 {
        font-size:10px;
    }

    p3 {
        font-size: 9px;
    }

    p4 {
        font-size: 9px;
    }

    p5 {
        font-size: 9px;
    }

    .p1-1, .p1-2, .p1-3 {
        font-size: 11px;
        line-height: 200%;
        padding-bottom: 15%;
    }

    .p1-2 {
        padding-bottom: 15px;
    }

    .p-s {
        font-size: 8px;
    }

    button {
        padding: 7px 8px;
        font-size: 12px;
    }

    .container {
        max-width: 600px;
    }

    .flex-nav {
        min-height: 70px;
    }

    .flex-card {
        margin: 20px 0px 40px 0px;
    }

    .dom2 {
        margin: 45px 5px 0px 5px;
    }

    .dom1, .dom2, .dom3 {
        width: 30%;
    }

    .derevo {
        width: 225px;
        margin-right: 40px;
    }

    .flex-card2 {
        margin: 40px 0px 60px 0px;
    }
    
    .eda1, .eda2 {
        width: 225px;
    }

    .foto2 {
        margin: 0px 10px 0px 10px;
    }

    .comnata {
        width: 100%;
    }

    .strelka {
        width: 6%;
        padding-top: 7px;
    }
    

    .knopkado {
        width: 20px;
        height: 20px;
        margin-left: 240px;
        margin-top: -21px;
    }

    .galochka {
        width: 10px;
    }

    .info {
        margin-bottom: 12px;
        padding: 18px 18px 18px 18px;
    }

    .info__headline {
        font-size: 15px;
    }

    .info2 {
        margin-bottom: 12px;
        padding: 18px 18px 18px 18px;
    }

    .info2__headline {
        font-size: 15px;
    }

    .info3 {
        margin-bottom: 12px;
        padding: 18px 18px 18px 18px;
    }

    .info3__headline {
        font-size: 15px;
    }

    .ava {
        width: 13%;
        margin: 40px 0px 26px 0px;
    }

    .tochki {
        width: 8%;
    }

    .flex-card3 {
        margin-top: 80px;
    }

    .link {
        width: 70%;
    }

    .logotip {
        margin-top: 50px;
        margin-right: 55px;
        margin-bottom: 82px;
    }
    
    .item5 {
        margin-right: 20px;
        margin-top: 50px;
    }
}



@media (max-width: 600px) {
    nav a {
        font-size: 11px;
    }

    h1 {
        font-size: 25px;
    }
    
    h2 {
        font-size: 18px;
        padding-bottom: 12px;
    }

    h3 {
        font-size: 12px;
        padding-bottom: 12px;
    }

    h4 {
        font-size: 12px;
    }

    h5 {
        font-size: 9px;
    }

    .h1-1 {
        font-size: 25px;
    }

    p {
        font-size: 7px;
        padding-bottom: 20px;
    }

    p2 {
        font-size: 8px;
    }

    p3 {
        font-size: 7px;
    }

    p4 {
        font-size: 7px;
    }

    p5 {
        font-size: 6px;
    }

    .p1-1, .p1-2, .p1-3 {
        font-size: 8px;
        line-height: 200%;
        padding-bottom: 15%;
    }

    .p1-2 {
        padding-bottom: 15px;
    }

    .p-s {
        font-size: 8px;
    }

    .p-com {
        font-size: 6px;
    }

    button {
        padding: 5px 6px;
        font-size: 8px;
    }

    .container {
        max-width: 425px;
    }

    .flex-nav {
        min-height: 70px;
    }

    .flex-card {
        margin: 20px 0px 40px 0px;
    }

    .dom2 {
        margin: 30px 5px 0px 5px;
    }

    .dom1, .dom2, .dom3 {
        width: 28.5%;
    }

    .derevo {
        width: 165px;
        margin-right: 30px;
    }

    .flex-card2 {
        margin: 40px 0px 60px 0px;
    }
    
    .eda1, .eda2 {
        width: 150px;
    }

    .foto2 {
        margin: 0px 5px 0px 5px;
    }

    .comnata {
        width: 100%;
    }

    .strelka {
        width: 8%;
        padding-top: 7px;
    }
    

    .knopkado {
        width: 20px;
        height: 20px;
        margin-left: 160px;
        margin-top: -17px;
    }

    .galochka {
        width: 10px;
    }

    .info {
        margin-bottom: 12px;
        padding: 18px 18px 18px 18px;
    }

    .info__headline {
        font-size: 10px;
    }

    .info2 {
        margin-bottom: 12px;
        padding: 18px 18px 18px 18px;
    }

    .info2__headline {
        font-size: 10px;
    }

    .info3 {
        margin-bottom: 12px;
        padding: 18px 18px 18px 18px;
    }

    .info3__headline {
        font-size: 10px;
    }

    .ava {
        width: 13%;
        margin: 40px 0px 26px 0px;
    }

    .tochki {
        width: 8%;
    }

    .flex-card3 {
        margin-top: 80px;
    }

    .link {
        width: 60%;
    }

    .logotip {
        margin-top: 50px;
        margin-right: 55px;
        margin-bottom: 82px;
    }
    
    .item5 {
        margin-right: 20px;
        margin-top: 50px;
    }
}



@media (min-width: 320px) and (max-width: 426px) {
    nav a {
        font-size: 8px;
        margin-right: 12px;
    }

    h1 {
        font-size: 16px;
    }
    
    h2 {
        font-size: 24px;
        padding-bottom: 12px;
    }

    h3 {
        font-size: 18px;
        padding-bottom: 12px;
        margin-top: 20px;
    }

    h4 {
        font-size: 18px;
    }

    h5 {
        font-size: 12px;
    }

    .h1-1 {
        font-size: 26px;
        width: 100%;
    }

    p {
        font-size: 9px;
        padding-bottom: 20px;
    }

    p2 {
        font-size: 12px;
    }

    p3 {
        font-size: 11px;
    }

    p4 {
        font-size: 11px;
    }

    p5 {
        font-size: 10px;
    }

    .p1-1, .p1-2, .p1-3 {
        font-size: 9px;
        line-height: 200%;
        padding-bottom: 15%;
    }

    .p1-2 {
        padding-bottom: 15px;
    }

    .p-s {
        font-size: 7px;
    }

    button {
        padding: 5px 7px;
        font-size: 10px;
    }

    .container {
        max-width: 310px;
    }

    .flex-nav {
        min-height: 40px;
    }

    nav a:last-child {
        margin-right: 0px;
    }
    

    .flex-card {
        display: block;
        margin: 20px 0px 40px 0px;
    }

    .item { 
        width: 100%;
    }

    .dom1, .dom2, .dom3 {
        width: 31%;
        margin-top: 20px;
    }

    .dom2 {
        margin: 70px 5px 0px 5px;
    }

    .derevo {
        width: 100%;
        margin-right: 0px;
    }

    .flex-card2 {
        display: block;
        margin: 40px 0px 60px 0px;
    }

    .eda1, .eda2 {
        width: 130px;
    }

    .eda1 {
        margin-left: 10px;
    }

    .eda2 {
        margin-right: 10px;
    }

    .fotochki {
        display: block;
    }

    .foto1, .foto2, .foto3 {
        margin-top: 20px;
    }

    .foto2 {
        margin: 0px;
        margin-top: 20px;
    }

    .comnata {
        width: 100%;
    }

    .strelka {
        width: 4%;
        padding-top: 6px;
    }
    

    .item3 {
        width: 100%;
    }

    .knopkado {
        width: 30px;
        height: 30px;
        margin-left: 250px;
        margin-top: -24px;
    }

    .galochka {
        width: 14px;
    }

    .info {
        margin-top: 20px;
        margin-bottom: 12px;
        padding: 18px 18px 18px 18px;
    }

    .info__headline {
        font-size: 16px;
    }

    .info2 {
        margin-bottom: 12px;
        padding: 18px 18px 18px 18px;
    }

    .info2__headline {
        font-size: 16px;
    }

    .info3 {
        margin-bottom: 12px;
        padding: 18px 18px 18px 18px;
    }

    .info3__headline {
        font-size: 16px;
    }

    .ava {
        width: 17%;
        margin: 40px 0px 26px 0px;
    }

    .tochki {
        width: 10%;
    }

    .link {
        width: 85%;
    }

    .flex-card3 {
        margin-top: 40px;
    }

    .logotip {
        margin-top: 30px;
        margin-right: 30px;
        margin-bottom: 82px;
    }
    
    .item5 {
        margin-right: 20px;
        margin-top: 33px;
    }
}